<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Taller 3d.js
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Agenda</a></li>
        <li><a ui-sref="selections">Selecciones</a></li>
        <li><a ui-sref="data">Data / Enter / Append / Exit</a></li>
        <li><a ui-sref="scales">Escalas / Importar Datos</a></li>
        <li><a ng-href="#">Reto</a></li>
      </ul>

      <!-- <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul> -->
    </div>
  </div>
</nav>
